﻿<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to HawkOMS
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                If you're a developer, you should make use of the 
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to login.
            </p>
        </div>
    </div>
</div>
